.search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.search__input {
  width: 100%;
  font-family: Inter;
  font-size: inherit;
  background-color: #f0eeee;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 2px 0px 0px 0;
  transition: all ease-in-out .5s;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  padding: 0.7rem 1rem;
  border-radius: 0 2px 0 0;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
